/materials
/Chapter14_GoogleSheets/token-drive.pickle
/Chapter14_GoogleSheets/token-drive.pickle
/Chapter14_GoogleSheets/credentials-sheets.json
/Chapter16_CSVandJson/OpenWeatherMapToken.py
/Chapter17_Time/xkcd/
/Chapter18_TextMessagesAndeMail/credentials.json
/Chapter18_TextMessagesAndeMail/token.json
